{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% if name %}
<h1>your account created successfully!!! {{name}}</h1>
{% else %}
<h1>user list</h1><br>

<form method="POST">
    {{ form.hidden_tag() }}

    <h4>name</h4>
    {{form.name(class="form-control")}}<br>

    <h4>email</h4>
    {{ form.email(class="form-control") }}<br>

    <h4>password</h4>
    {{ form.password(class="form-control") }}<br>

    <h4>enter password again</h4>
    {{ form.password2(class="form-control") }}<br>

    {{ form.submit(class="btn btn-primary") }}

</form>



{% endif %}
{% endblock %}